@import url('https://fonts.googleapis.com/css?family=Montserrat');
section{
    background:  #2b3033;
    color: #cad0d3;
    align-items: center;
    padding: 6em; 
  }

  section.two{
    background:  #cad0d3;
    color: #2b3033;
    align-items: center;
    padding: 6em; 
    
  }
  h1{
    font-family: 'Montserrat';
    font-size: 8em;
    text-transform: uppercase;
    line-height: .9em;
    font-weight: 700;
    width: 100%;
    margin: auto;
    text-align: center;
}


 
h3{
    font-style: italic;
}

  #celcomFirst{
      padding-top: 70px;
      align-items: center;
      
  }

p{
    text-align: center;
    color: #2b3033;
    padding-top: 20px;
    margin:auto;
    width: 70%;
}

img{
    text-align:center;
width:70%;
display: block;
margin:auto;
}

@media (max-width: 768px) {
  h1{
    font-family: 'Montserrat';
    font-size: 3em;
    text-transform: uppercase;
    line-height: .9em;
    font-weight: 700;
    width: 100%;
    margin: auto;
    text-align: center;
}
  }