<section>
    <div class="row">
    <div class="col" 
    data-sal-duration="1200"
    data-sal="slide-up"
    data-sal-delay="200"
    data-sal-easing="ease-out-bounce">
    <h1>Photography</h1>
    </div>
    
    </div>
    <div class="row" style="padding-top: 70px;">
    <div class="col align-text-bottom" 
    data-sal-duration="1200"
    data-sal="slide-down"
    data-sal-delay="200"
    data-sal-easing="ease-out-bounce">
    <h3 class="">Celcom’s design language was inspired from nature and living things around us to provide new perspectives on design and better ways of making things. </h3>
    </div>
    </div>
</section>
<section class="two" >

    
</section>
    
    

