<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <img src="../../assets/Celcom Logo PNG/PNG/white background/Celcom LOGO white background_no TM-01.png" alt="celcom logo" >
        </div>

        <ul class="list-unstyled ">
            <li routerLinkActive="active">
                <a routerLink="/home">Home</a>
            </li>
            <!-- <li routerLinkActive="active">
                <a routerLink="/artdirection">Art Directions</a>
            </li> -->
            <li routerLinkActive="active">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Art Direction</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li routerLinkActive="active">
                        <a routerLink="/artdirection/celcomfirst">Celcom First</a>
                    </li>
                    <li routerLinkActive="active">
                        <a routerLink="/artdirection/photography">Photography</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Pages</a>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </nav>
    <div id="content">
        <nav>
           
                    <fa-icon [icon]="faBars" style="cursor: pointer;" size="lg" id="sidebarCollapse"></fa-icon>
            
        </nav>
       
         <!-- <app-home></app-home>  -->
          <router-outlet></router-outlet>
            <app-footer></app-footer>  
        
    </div>
    
      
    
</div>  


