@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('http://fonts.googleapis.com/css?family=Lato');


.wrapper {
    display: flex;
    width: 100%;
    
    
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #F3F3F3;
    color: #000000;
    transition: all 0.3s;
}
#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content nav{
    position: fixed;
    padding: 30px;
    color: white;
    
}

#content p {
    padding-left: 40px;
}

#content.active {
    width: 100%;
}
#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}



body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}



#sidebar .sidebar-header {
    padding-top: 20px;
    background: #f2f2f2;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #009ade;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
    font-family: "Lato", sans-serif;
    padding-left: 30px;
}
#sidebar ul li a:hover {
    padding:25px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background-color:  #CCCCCC;
    font-weight: 700;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #F3F3F3;
}

#sidebarCollapse {
    
    cursor: pointer;

}

img{
    margin: auto;
  width: 100%;
    
}