/* You can add global styles to this file, and also import other style files */
@import url('//fonts.googleapis.com/css?family=Lato');

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden
}

p{
    font-family: "Lato";
}


.particles-wrapper {
    height: 100%;
    width: 100%;
    display: block;
  }