<div class="main">
    <div class="center" data-sal-duration="1200"
    data-sal="slide-up"
    data-sal-delay="300"
    data-sal-easing="ease-out-bounce">
        <h1 id="main">PRISMA</h1>
        <h2>Celcom Digital Brand Experience</h2>
    </div>
    <div class="particles-wrapper">
        
        <canvas repulse-particles number="{{number}}"></canvas>
        
           
      </div>
     
</div>
<div class="main2">
   
    <div class="row"
    data-sal-duration="1200"
    data-sal="slide-down"
    data-sal-delay="200"
    data-sal-easing="ease-out-bounce">
        
        <div class="col-12 col-md-3 text-center"><h1 id="main2">Introduction</h1></div>
        <div class="col-12 col-md-9"> <p>In these pages you will find everything about the new Celcom, through examples, rules and guides.</p> 
            <p>The content of these pages is dedicated to knowledge sharing and provide a constant source of information regarding Digital Customer Experience for Celcom.</p>
            <p>One of the objective is to create a Design Language System that can adapt according to the needs of the teams.
                There is only one Celcom, but different angles - let it be Marketing team, Content team, Front-end Devs team and of course all the external partners.</p>
            <p>In order to support all these facets, IBM iX Creative team came up with the symbol of the "prism".</p>
            
        </div>
    </div>
    <hr>
    
    <div class="row"
    data-sal-duration="1200"
    data-sal="slide-down"
    data-sal-delay="200"
    data-sal-easing="ease-out-bounce">
        <div class="col-12 col-md-3 text-center"><h1 id="main2">The  Story  Telling</h1></div>
        <div class="col-12 col-md-9">
            <p>Celcom is one brand, one beam of pure light.</p>
            <p>This brand can sport several style, according to the customer and market needs.</p>
            <p>By going through the Prisma, it reveals the spectrum that it is made of</p>
            <ul>
                <li>the sub-brands</li>
                <li>the services</li>
                <li>the offers </li>
            </ul>
            <p>The same way as changing the theme of your Design Language System, changing the angle of the prism will allow you to reveal one part of the spectrum.</p>
        </div>
    </div>

</div>
