
.main{
  z-index: -1;
  position: relative;
  height: 100vh;
  background:  #164396;

}

.main2{
  z-index: -1;
  position: relative;
  height: 100%;
  background:   #99ccff;

}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
h1#main{
  text-align: center;
  font-family: "Lato";
  font-weight: 500;
  font-size: 10em;
  color: white;
}

h1#main2{
  font-family: "Lato";
  font-weight: 500;
  font-size: 50px;
  color: black;
  margin: auto;
  padding: 50px;
  writing-mode: vertical-lr;
}

@media (max-width: 768px) {
  h1#main2{
    font-family: "Lato";
    font-weight: 500;
    font-size: 40px;
    color: white;
    padding-bottom: 70px;
    margin: auto;
    writing-mode: horizontal-tb ;
  }
}



h2{
  text-align: center;
  font-family: "Lato";
  color: white;
}

p{
  padding-top: 40px;
  padding-left: 30px;
  font-family: "Lato";
  font-size: 25px;
  font-weight: 100;
  padding-right: 30px;
}
li{
   font-family: "Lato";
  margin: 20px;
  font-size: 20px;
}


