<section>
    <div class="row">
    <div class="col-12 col-md-10" 
    data-sal-duration="1200"
    data-sal="slide-up"
    data-sal-delay="200"
    data-sal-easing="ease-out-bounce">
    <h1>CELCOM FIRST</h1>
    </div>
    
    </div>
    <div class="row" style="padding-top: 70px;">
    <div class="col align-text-bottom" 
    data-sal-duration="1200"
    data-sal="slide-down"
    data-sal-delay="200"
    data-sal-easing="ease-out-bounce">
    <h3 class="">Celcom’s design language was inspired from nature and living things around us to provide new perspectives on design and better ways of making things. </h3>
    </div>
    </div>
</section>
<section class="two" >
        <div  id="celcomFirst" *ngFor="let cf of celcomFirst" 
        >
              
                    <img [src]="cf.imagePath" alt="" >
                    <p class="text-center">{{cf.description}}</p>
                
        </div>
    
</section>
    
    

